streamlit==1.42.1
pandas==2.2.3
plotly==6.0.0
fpdf2==2.8.2
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
altair
annotated-types
anthropic
anyio
attrs
babel
blinker
cachetools
certifi
charset-normalizer
click
courlan
dateparser
defusedxml
distro
et_xmlfile
fonttools
frozenlist
gitdb
GitPython
h11
htmldate
httpcore
httpx
idna
Jinja2
jiter
jsonschema
jsonschema-specifications
jusText
lxml
lxml_html_clean
markdown-it-py
MarkupSafe
mdurl
multidict
narwhals
networkx
numpy
openai
openpyxl
packaging
pillow
propcache
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
PyJWT
python-dateutil
pytz
referencing
regex
requests
rich
rpds-py
six
smmap
sniffio
streamlit-custom-notification-box
tenacity
tld
toml
tornado
tqdm
trafilatura
twilio
typing_extensions
tzdata
tzlocal
urllib3
watchdog
xlrd
yarl